.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  justify-content: flex-start;
  flex-direction: row;
  transition: 0.50s linear;
}

.footer__column-link:hover {
  opacity: 0.2;
}
