@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  position: relative;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  width: 730px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  display: inline-block;
  justify-content: center;
}

.header__subtitle {
  margin: 0;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  color: black;
  height: auto;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
opacity: 0.6;
transition: 0.35s;
}

.header__main-illustration {
  position: absolute;
  object-fit: cover;
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: -2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  z-index: -3;
  animation: rotation 20s linear infinite;
}

.description {
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  display: flex;
}

.two-columns {
  min-width: 784px;
  width: 80%;
  justify-content: space-between;
  display: flex;
}

.two-columns__brief {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  display: flex;
  align-items: flex-start;
}

.two-columns__main-text {
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.techniques {
  margin: 0;
  width: 80%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards {
  margin: 0;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  box-sizing: border-box;
  align-content: space-between;

}

.cards__item {
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-content: space-between;
}

.cards__image {
  width: 160px;
  height: 160px;
  padding: 60px 40px 43px 40px;
}

.cards__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
  padding-bottom: 16px;

}

.cards__discription {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  flex-direction: row;
  align-items: center;
  position: relative;
  align-content: space-between;
}

.video__iframe {
  padding-right: 20px;
  width: 515px;
  height: 316px;
  /*position: relative;*/
  margin: -50px;
}

.oakley {
  padding-top: 160px;
  padding-bottom: 100px;
  justify-content: center;
  display: flex;
  background-color: #f2f2f2;
}

.feynman {
  box-sizing: border-box;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  z-index: 7;
}

.feynman__title {
  margin: 0px;
  width: 648px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  margin: 0px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  height: auto;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: 0.6;
  transition: 0.35s;
}

.feynman__main-illustration {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0px;
  bottom: 0px;
  z-index: -4;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
}

.section-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.table__cell {
  margin: 0;
  width: 250px;
  list-style-type: none;
  padding-left: 0px;
}

.table__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text {
margin: 0;
padding-top: 20px;
line-height: 1.2;
font-size: 18px;
font-weight: normal;
}

.khan {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
  position: relative;
  background-color: #f2f2f2;
}

.khan__container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.khan__autor {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  justify-content: flex-start;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  width: 790px;
  margin-top: 50px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal
}

.khan__book-container {
margin-right: 48px;
}

.khan__quote-author {
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-pic {
width: 620px;
height: 608px;
margin-top: 68px;
margin-right: 48px;
}

.header__link {
  position: absolute;
  margin-top: 68px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.header__link:hover {
  opacity: 0.6;
  transition: 0.35s;
}

.kaufman {
  overflow: hidden;
  background-color:  #1f1f1f;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.section-title_theme_dark {
  margin: 0px;
  margin-top: 90px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.section-subtitle_theme_dark {
  margin: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table_theme_dark {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 1100px;
  padding-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  list-style-type: none;
  color: white;
  background-color: transparent;
}

.table__cell_theme_dark {
  margin: 0;
  width: 200px;
  margin-top: 80px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
 }

 .table__heading_theme_dark{
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15;
  padding-top: 0;
 }

  .table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0;
  background-size: cover;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: -1;
  animation: rotation 20s linear infinite;
}

.resources {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  margin: 80px auto 217px auto;
  width: 1100px;
  border: 3px solid red;
}

.resources__logo {

}

.footer {
  box-sizing: border-box;
  min-height: 350px;
  background-color:  #1f1f1f;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  position: relative;
  color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
}

.footer__column_content_info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  align-items: center;
}

.footer__column-links {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column_content_social {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
 }

.footer__social-icon {
  min-width: 16px;
  min-height: 16px;
  margin-right: 10px;
}

.footer__social-icon:hover {
  opacity: 0.6;
  transition: 0.35s;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  justify-content: flex-start;
  flex-direction: row;
}

.footer__column-link:hover {
opacity: 0.6;
transition: 0.35s;
 }
