.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  position: relative;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_place_header {
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  z-index: 5;
  position: absolute;
}

.header__title {
  margin: 0px;
  width: 730px;
  left: 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  position: absolute;
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.header__subtitle {
  left: 64px;
  bottom: 30px;
  width: 338px;
  font-size: 18px;
  line-height: 25px;
  position: absolute;
  color: black;
  height: auto;
  z-index: 4;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0px;
  bottom: 0px;
  z-index: 4;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: blue;
  z-index: 3;
}

.description {
  border: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  display: flex;
}

.two-columns {
  min-width: 784px;
  width: 80%;
  justify-content: space-between;
  display: flex;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  padding-top: 0px;
  display: flex;
  align-items: flex-start;
}

.two-columns__main-text {
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__paragraph_items {
  margin-top: 30px;
  margin-bottom: 30px;
}

span {
  font-weight: 600;
}

.digits {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 0px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin-bottom: 20px;
  text-align: center;
}

.section-subtitle {
  margin: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
}

.table__cell {
  display: flex;
  padding-top: 60px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.table__heading {
  width: 250px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.15px;
  padding-top: 60px;
}

.table__text {
padding-top: 20px;
line-height: 1.2;
font-size: 18px;
font-weight: normal;
}

.feynman {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  margin: 0px;
  width: 648px;
  margin-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  height: auto;
}

.feynman__main-illustration {
  position: absolute;
  width: 867px;
  height: 637px;
  left: 0px;
  bottom: 0px;
  z-index: 0;
  background-image: url(.././images/feynman.png);
}

.kaufman {
  overflow: hidden;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title_theme_dark {
  margin: 0px;
  margin-top: 90px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  color: white;
}

.section-subtitle_theme_dark {
  margin: 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}

.table_theme_dark {
  width: 1100px;
  color: white;
  z-index: 4;
}

.table__cell_theme_dark {
  display: flex;
  direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.table__heading_theme_dark {
  width: 200px;
  margin-top: 80px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0;
  object-fit: cover;
  background-size: cover;
  background-image: url(.././images/kaufman-triangle.svg);
  z-index: 3;
}

.footer {
  min-height: 350px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  position: relative;
  color: white;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  position: absolute;
}

.footer__author {
  bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  align-items: center;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
